# Telegram API credentials (получите на https://my.telegram.org)
API_ID=
API_HASH=
SESSION_NAME=tg_music_session

# Last.fm credentials (получите на https://www.last.fm/api/account/create)
# Свяжите Spotify с Last.fm на https://www.last.fm/settings/applications
LASTFM_API_KEY=
LASTFM_USERNAME=

# Настройки
DEFAULT_BIO=сейчас ничего не слушает. но здесь будет то, что я слушаю!
CHECK_INTERVAL=5
MAX_BIO_LENGTH=70
