# Telegram API credentials (получите на https://my.telegram.org)
API_ID=
API_HASH=
SESSION_NAME=tg_music_session

# Last.fm credentials (получите на https://www.last.fm/api/account/create)
# Свяжите Spotify с Last.fm на https://www.last.fm/settings/applications
LASTFM_API_KEY=
LASTFM_USERNAME=

# Настройки
# DEFAULT_BIO: если оставить пустым, скрипт автоматически запомнит текущее био при запуске и вернет его при паузе
DEFAULT_BIO=
UPDATE_INTERVAL=10
MAX_BIO_LENGTH=70
